    <meta charset="UTF-8">
    <title>{{ whatbpm_title | safe }}</title>
    <meta name="description" content="{{ whatbpm_description | safe }}">
    <meta name="keywords" content="whatbpm, sergree, bpm, key, note, edm, music, average, length, duration, values, track, song, label, dj, tempo, best, top, right, relevant, today, daily, beatport, analytics, trending, trance, house, dubstep, trap, progressive, electronic, dance, techno">
    <meta name="author" content="Sergree">
    <meta name="email" content="sergree@vk.com">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="language" content="English">
    <meta name="robots" content="index, follow">
    <meta name="revisit-after" content="1 days">
    <meta name="language" content="English">