<!DOCTYPE html>
{% set whatbpm_title = "WhatBPM: Today's Trending Values for EDM Production" -%}
{% set whatbpm_description = "Get the best relevant BPM, key, root note, track length values for your EDM production. Start making your music more in-demand by labels and DJs today. 🎉" -%}
{% set whatbpm_url = "https://sergree.github.io/whatbpm/" -%}
{% set whatbpm_repo_url = "https://github.com/sergree/whatbpm" -%}
{% set sergree_url = "https://github.com/sergree" -%}
{% set matchering_url = "https://sergree.github.io/matchering/" -%}
{% set bmc_url = "https://boosty.to/sergree" -%}
{% set bmc_image_url = "https://www.buymeacoffee.com/assets/img/custom_images/orange_img.png" -%}
{% set css_version = 1 -%}
{% set cloudflare_token = "40aee160c31f4ae18e61f1103ef5b861" -%}
<html itemscope itemtype="https://schema.org/FAQPage" lang="en">
<head>
{% include "head_meta.html" %}
{% include "head_favicon.html" %}
{% include "head_meta_og.html" %}
{% include "head_meta_tc.html" %}
{% include "head_links.html" %}
</head>
<body>
{% include "body_header.html" %}
{% include "body_nav.html" %}
{% include "body_main.html" %}
{% include "body_footer.html" %}
{% include "body_scripts.html" %}
</body>
</html>